/* Tipografía extra*/
@use 'sass:list';
@use 'sass:map';

$font-sizes: 0.875rem, 1rem, 1.25rem, 1.5rem, 2rem;

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

@each $breakname, $breakvalue in $breakpoints {
    $otherindex: list.index(map.keys($breakpoints), $breakname);
    @each $size in $font-sizes {
        $index: list.index($font-sizes, $size);
        .fs-#{$breakname}-#{$index} {
            font-size: $size;
            breakpoints: $breakvalue;
        }
    }
}