@use 'base/reset';
@use 'base/variables' as vars;
@use 'base/base';
@use 'base/typography';
@use 'base/typography_extra.scss';
@use 'base/colors';
@use 'layout/containers';
@use 'layout/grid';
@use 'layout/grid_extras';

.debug-border {
  margin-block: 10px;

  .item {
    outline: 1px solid;
    background-color: wheat;
  }
}